*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(165, 165, 165);
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1320px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;

}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.loraFont,h1,h2,h3, a{
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 1.2rem;
}
#menuButton{
    border: none;
    background-color: transparent;
}
section{
    padding-top: 4rem;
}
nav{
    display: none;
}
h1{
    font-size: 1.72rem;
    margin-bottom: 1.5rem;

}
h2{
     font-size: 1.44rem;
}
h3{
    font-size: 1.2rem;
}
h1,h2,h3{
    line-height: 120%;
}
p{
    font-size: 1rem;
    color: grey;
    line-height: 160%;
}
.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 0.25rem;
    height: 40px;
}
.button-primary{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
}
.button-secondary{
    color: black;
    border: 1px solid black;
}
.buttons{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}




@media screen and (min-width: 768px) {
    nav{
        display: block;
      
    }
    #paw{
        display: none;
    }
   .navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    }
    nav a{
        text-decoration: none;
        color: rgb(53, 53, 53);
        list-style-type: none;
    }
}
@media screen and (min-width: 1200px) {
    h1{
        font-size: 2.98rem;
    }
    h2{
         font-size: 2.48rem;
    }
    h3{
        font-size: 2.07rem;
    }
}